<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DomoSolarInterface.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DomoSolarInterface.Settings>
            <setting name="MaxCommPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="ResolPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogSampleCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Data\Logging</value>
            </setting>
        </DomoSolarInterface.Settings>
    </applicationSettings>
</configuration>